{% extends './base.html' %}

{% block content %}


    <h1>Blood Donation Management</h1>
  <section>
    <h2>Welcome to our Blood Donation Management Website!</h2>
    <p>
      We provide a platform for both blood donation and blood request purposes.
    </p>
    <p>
      <strong>Donate:</strong> If you are willing to donate blood, you can register as a donor and find nearby blood centers to make your contribution.
    </p>
    <p>
      <strong>Centers:</strong> If you are in need of blood or want to donate, you can submit a request and search for centers available to help.
    </p>
    <p>
      <strong>bloodtypes:</strong> Understand the different blood types,their compostion and compatibility with receivers.
    </p>
  </section>

  
  {% endblock content %}

